$header-background-color: #f3c6bd;
$inbox-bacground-color: #fcf0e3;
$standart-backround-color: #fff;
$light-grey: #f4f5f7;
$dark-grey: #2b292d33;
$text-color-light-grey: #2b292d99;
$blue: #3141c5;
$dark-blue: #00a1c612;
$button-color: #3040c4;


$text-standart-color: #2b292d;
$text-color-green: #009b4d;
$text-color-blue: #3142c6;


$border-color-grey: #2b292d26;
$border-color-dark-grey: #0000001a;
